html {
    /*default font size is 16px for the browser means 1rem=16px but after making 62.5% it gonna be 1rem=10px*/
    font-size: 62.5%;
}

body {
    font: $bodyFont;
    color: $black;
}

#{headings()} {
    font: $bodyFontHead;
}

h1 {
    font-size: 3rem;
    font-weight: $bold;
    color: $green;
    text-align: center;
}

h2 {
    padding: 5rem 0;
    font-size: 3rem;
    font-weight: $normal;
    color: $black;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: $bold;
}

h4 {
    font-size: 2rem;
}

p {
    text-align: center;
    font-weight: $normal;
    color: $black;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    padding: 0;
}

.container {
    @include container(80%);
}

$susy: (columns: 12, container: 60em, gutters: 1 / 4, gutter-position: inside, debug: (image: hide, color: rgba(#66f, 0.25), output: background, toggle: top right));