#chooseAxe {
    background-color: $backgroungray;

    .sectionContent {
        text-align: center;

        @include clearfix;

        .chooseAxe {
            background-color: $black;
            color: $white;
            text-align: center;
            height: 32rem;
            padding-top: 5rem;
            padding-bottom: 5rem;

            @include breakpoint($medium) {
                padding: 5rem 3rem;
            }


            &:hover {
                background-color: $white;
                color: $black;
            }

            $item-width: 100%;

            width: calc(#{$item-width}/1);
            float: left;

            @include breakpoint($small) {
                width: calc(#{$item-width}/3);
            }
        }
    }
}