#companyLinks {
    background-color: $black;
    color: $white;

    @include clearfix;

    .links {
        float: left;
        margin-bottom: 3rem;
        margin-top: 3rem;
        width: calc(100% / 1);

        @include breakpoint($small) {
            width: calc(100% / 2);
        }


        @include breakpoint($medium) {
            width: calc(100% / 4);
        }


        h4 {
            padding: 1rem;
            color: $white;
        }

        li {
            background: url(../images/linkSlashBg.png) left center no-repeat;
            font-weight: $narrow;
            padding-left: 1rem;
            text-align: left;
            letter-spacing: .5px;
            line-height: 2.5rem;
            font-size: 1.2rem;
            color: $green;
            text-decoration: underline;

            &:hover {
                color: $white;
                padding-left: 2rem;
                transition: all .5s;
            }

            span {
                color: $white;

                &:hover {
                    cursor: auto;
                }
            }
        }
    }
}