#findTripArea {
    background-color: $lightgray;
    padding-bottom: 5rem;

    .sectionContent {
        @include clearfix;

        .trip {
            $item-width: 100%;

            position: relative;

            img {
                width: calc(#{$item-width}/1);
                float: left;

                @include breakpoint($narrow) {
                    width: calc(#{$item-width}/2);
                }


                @include breakpoint($small) {
                    width: calc(#{$item-width}/3);
                }
            }

            .promotion {
                background-color: red;
                position: absolute;
                color: $white;

                p {
                    color: $white;
                }
            }
        }
    }
}