#footer {
    background-color: #000000;

    .axeBrand {
        @include clearfix;

        .copyright {
            font-size: 1rem;
            color: $white;
        }

        .link {
            cursor: pointer;
            font-size: 1rem;
            color: $green;
        }

        @include breakpoint($small) {
            .copyright {
                float: left;
            }

            .link {
                float: right;
            }
        }
    }
}