#footer {
    background-color: #000000;

    .axeBrand {
        padding: 1.5rem 0;

        @include breakpoint($medium) {
            padding: 1.5rem 4rem;
        }


        @include clearfix;

        .copyright {
            color: $white;
            font-size: 1rem;
        }

        .link {
            cursor: pointer;
            color: $green;
            font-size: 1rem;
        }

        @include breakpoint($small) {
            .copyright {
                float: left;
                font-size: 1.2rem;
            }

            .link {
                float: right;
                font-size: 1.2rem;
            }
        }


        @include breakpoint($small) {
            @include container(70%);
        }
    }
}