#header {
    .helpingAuthorities {
        ul {
            text-align: center;

            li {
                display: none;

                @include breakpoint($small) {
                    display: inline-block;
                    color: #bfbfbf;
                    padding: 1rem 1.5rem;
                    font-weight: $bold;
                    margin: 0 auto;

                    span {
                        color: $black;
                        cursor: auto;
                    }
                }


                &:hover {
                    color: $green;
                }
            }
        }
    }

    .companyBrand {
        margin: 2rem 0;

        @include clearfix;

        .companyLogo {
            @include span(6 of 12);

            &:hover {
                color: $black;
                cursor: pointer;
            }
        }

        .companyContact {
            float: right;

            ul {
                display: none;

                @include breakpoint($small) {
                    display: block;
                }


                li {
                    display: inline-block;

                    @include breakpoint(3 of 6);

                    span {
                        @include breakpoint(3 of 6);

                        color: $green;
                        font-size: 1.3rem;

                        &:hover {
                            color: $black;
                        }
                    }

                    img {
                        padding-right: 8rem;
                    }
                }
            }
        }
    }

    .headerHero {
        .heroImage {
            @include backImage("../images/hero_image.png", to right, 0, 0, 10% top);

            height: 100vh;

            .heroText {
                padding-top: 5rem;

                @include breakpoint($small) {
                    padding-top: 22rem;
                }


                p {
                    color: $white;
                    text-align: center;
                    padding-top: 2rem;
                    font-size: 1.8rem;
                }
            }
        }
    }
}