#insurenceBusiness {
    background-color: $black;

    h2 {
        font-size: 2.7rem;
        color: $white;
    }

    .sectionContent {
        display: inline-block;

        @include clearfix;

        .sectionLeft {
            img {
                width: 18rem;

                @include breakpoint($small) {
                    width: 45rem;
                }
            }
        }

        .sectionRight {
            @include breakpoint($narrow) {
                float: right;
                margin-left: 6rem;

                h4 {
                    padding-bottom: 2rem;
                }

                li {
                    padding-bottom: 1rem;
                }
            }


            .topSection {
                color: $white;

                li {
                    background: url(../images/bullet.png) 0 5px no-repeat;
                    padding-left: 2rem;

                    img {
                        font-size: 2rem;
                    }
                }
            }

            .bottomSection {
                color: $green;

                h4 {
                    padding-top: 2.5rem;
                }
            }
        }
    }
}