li {
    font-weight: $normal;
    font-size: 1.5rem;
    margin-top: .5rem;
    cursor: pointer;
}

.headerSection {
    text-align: center;

    p {
        font-size: 1.8rem;
        margin-bottom: 3rem;

        @include breakpoint($small) {
            margin: 2rem 14rem;
        }
    }

    .btn {
        display: inline-block;
        background-color: $green;
        font-size: 1.3rem;
        width: 22rem;
        height: 4rem;
        cursor: pointer;
        padding-top: .5rem;
        margin-bottom: 5rem;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}

.sectionContent {
    padding-bottom: 8rem;

    img {
        padding-bottom: 1.5rem;
    }

    .chooseAxe {
        h3 {
            padding: .5rem 0;
        }

        p {
            line-height: 2rem;
        }
    }
}