#nav {
    background-color: $black;
    width: 100%;

    // z-index: 100;
    @include clearfix;

    menu {
        text-align: right;
        cursor: pointer;

        .fa-bars {
            font-size: 2.5rem;
            display: none;
            cursor: pointer;
            color: $green;

            @include breakpoint(0 $small) {
                display: block;
            }
        }

        .navigation {
            display: none;

            @include breakpoint($small) {
                display: block;
                height: 50px;
                text-align: center;
            }


            li {
                border-bottom: $green 0.1rem solid;
                padding-top: .5rem;

                @include breakpoint($small) {
                    display: inline-block;
                    font-weight: $bold;
                    margin: 0 auto;
                    font-size: 3rem;
                    letter-spacing: .5px;
                    padding-right: 6rem;
                    border-bottom: none;
                }


                a {
                    font-size: 1.3rem;
                    color: $white;
                    padding: 1rem;
                    text-decoration: none;

                    &:hover {
                        @include breakpoint($small) {
                            border-bottom: $green 0.5rem solid;
                            transition: .2s ease-in, .2s ease-out;
                        }
                    }
                }
            }
        }
    }
}