#newsAndEvents {
    background-color: $lightgray;
    text-align: center;
    padding-bottom: 5rem;

    .sectionBottom {
        .news {
            @include clearfix;

            background-color: $white;
            display: inline-block;
            margin: 2rem;
            text-align: center;
            max-width: 20rem;

            @include breakpoint(0 $narrow) {
                max-width: 16rem;
            }


            img {
                height: 15rem;
                width: 20rem;

                @include breakpoint(0 $narrow) {
                    width: 16rem;
                }
            }

            h4 {
                color: $blue;
                margin: 1rem;
            }

            i {
                font-size: 1rem;
                float: left;

                @include breakpoint($narrow) {
                    padding: 2rem;
                }
            }

            i:nth-of-type(2) {
                float: right;
            }

            p {
                margin: 3rem 0 2rem 0;
            }
        }
    }
}