#weWorkWith {
    .partnersLogo {
        text-align: center;

        img {
            padding: 2rem;

            @include breakpoint($medium) {
                padding: 5rem;
            }
        }
    }
}