#weWorkWith {
    

    .partnersLogo {
        text-align: center;

        img {
            padding: 2rem;

            @include breakpoint($small) {
                padding: 2rem 5rem;
            }
        }
    }
}