#whatYouNeed {
    background-color: $backgroungray;

    .sectionContent {
        text-align: center;

        @include clearfix;

        .supportWorks {
            background-color: $black;
            color: $white;
            text-align: center;
            height: 25rem;

            &:hover {
                background-color: $green;
                color: $black;
            }

            .strategy {
                height: 15rem;
                background: url(../images/icon_pawn.png) center center no-repeat;
            }

            .strategy: before {
                background: url(../images/icon_pawn.png) center center no-repeat;
            };

            .strategy:hover, .strategy:active, .strategy:focus {
                background: url(../images/icon_pawn_green.png) center center no-repeat;
            }

            .tactics {
                height: 15rem;
                background: url(../images/icon_whiteboard.png) center center no-repeat;
            }

            .tactics: before {
                background: url(../images/icon_whiteboard.png) center center no-repeat;
            };

            .tactics:hover, .tactics:active, .tactics:focus {
                background: url(../images/icon_whiteboard_green.png) center center no-repeat;
            }

            .extinguisher {
                height: 15rem;
                background: url(../images/icon_extinguisher.png) center center no-repeat;
            }

            .extinguisher: before {
                background: url(../images/icon_extinguisher.png) center center no-repeat;
            };

            .extinguisher:hover, .extinguisher:active, .extinguisher:focus {
                background: url(../images/icon_extinguisher_green.png) center center no-repeat;
            }

            $item-width: 100%;

            width: calc(#{$item-width}/1);
            float: left;

            @include breakpoint($small) {
                width: calc(#{$item-width}/3);
            }
        }
    }
}