#contactUs {
    @include clearfix;

    .footerColumn {
        padding: 5rem;

        @include breakpoint(0 $small) {
            padding: 1rem;
        }


        @include breakpoint($small) {
            padding: 2rem;
            float: left;
        }


        @include breakpoint($medium) {
            padding: 4rem;
        }


        i {
            color: $white;
            font-size: 1rem;
            padding: .6rem;
            background-color: $blue;
            border: rgba($black, 0.2) 1px solid;

            @include border-radius(50%);
        }
    }

    .text {
        width: 80%;
    }

    .button {
        background-color: $blue;
    }
}