#luxuryTravel {
    @include backImage("../images/hero4.png");

    text-align: center;
    color: $white;
    height: 80vh;

    @include breakpoint($narrow) {
        height: 90vh;
    }


    @include breakpoint($small) {
        height: 80vh;
    }


    h2 {
        font-size: 8rem;
        padding-top: 5rem;

        @include breakpoint(0 $narrow) {
            font-size: 4rem;
        }


        @include breakpoint($narrow) {
            padding-top: 8rem;
        }
    }

    h3 {
        font-size: 2rem;
    }

    .sectionBottom {
        p {
            background-color: $blue;
            font-size: 1.5rem;
            color: $white;
            width: 8rem;
            height: 8rem;
            display: inline-block;
            padding-top: 2.5rem;
            margin-top: 4rem;
            border: rgba($white, 0.2) 1px solid;

            @include border-radius(50%);
        }
    }
}